extends layout

block content
  main.main-content
    .container
      .error
        img.error__image(src="https://media.giphy.com/media/80TEu4wOBdPLG/giphy.gif")
        h2.error__title Error: #{message}
        a.btn.btn--primary(href="/") Home